@import "tailwindcss";

@custom-variant dark (&:where(.dark, .dark *));

@layer components {
  .bg_clip {
    clip-path: polygon(50% 0, 100% 0, 100% 60%, 100% 83%, 0 100%, 0 60%, 0 0);
  }
}

@layer utilities {
  @keyframes marquee-x {
    0% {
      transform: translateX(0);
    }
    100% {
      transform: translateX(calc(-100% - var(--gap)));
    }
  }

  .marquee-horizontal {
    animation: marquee-x var(--duration, 20s) linear infinite;
  }
}
